Repository AbdUlHamedMaree/lbundle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

chore(license): add MIT license
  LICENSE
Due: none

style(ts): provide return type to api
  src/index.ts
Due: eslint --quiet --fix

chore(release): set `package.json` to 1.3.2 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f1f2aaa5b693053a416f736d7a3c4b8c0abf36f7
Due: none

fix(bin): support mjs bins
  package.json
  src/helpers/get-bin-output.ts
  src/helpers/get-ctx.ts
Due: eslint --quiet --fix, prettier --write

Notes added by 'git notes add'
  bf85ad35d6137766411893cd0fcb4d766832c544
Due: none

chore(release): set `package.json` to 1.3.3 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

fix: exports fields fix
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b3125f978600727588ea88d2a17cde6b851fe011
Due: none

chore(release): set `package.json` to 1.3.4 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

fix(postcss): supports exports field in CSS files
  src/helpers/bundle-bin-if-needed.ts
  src/helpers/bundle-lib-if-needed.ts
Due: eslint --quiet --fix

chore(release): set `package.json` to 1.3.5 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e4f77249fa5ef6b4af709405d60af28636b344c
Due: none

feat: support universal styles imports
  bun.lockb
  package.json
  src/helpers/bundle-lib-if-needed.ts
  test/__snapshots__/cli.spec.ts.snap
  test/react-library/bun.lockb
  test/react-library/package.json
  test/react-library/src/index.scss
Due: eslint --quiet --fix, prettier --write

chore(release): set `package.json` to 1.4.0 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  34ef6d84e1e5e76bce4da9b8604437d9eeb9a6d5
Due: none

fix: importing scss/sass files
  bun.lockb
  package.json
  src/forks/rollup-plugin-postcss/src/index.js
  src/forks/rollup-plugin-postcss/src/less-loader.js
  src/forks/rollup-plugin-postcss/src/loaders.js
  src/forks/rollup-plugin-postcss/src/postcss-loader.js
  src/forks/rollup-plugin-postcss/src/sass-loader.js
  src/forks/rollup-plugin-postcss/src/stylus-loader.js
  src/forks/rollup-plugin-postcss/src/utils/humanlize-path.js
  src/forks/rollup-plugin-postcss/src/utils/load-module.js
  src/forks/rollup-plugin-postcss/src/utils/normalize-path.js
  src/helpers/bundle-lib-if-needed.ts
  src/helpers/get-rollup-styles-plugin.ts
  src/helpers/get-rollup-typescript-config.ts
  test/react-library/src/index.scss
  test/utils.ts
Due: eslint --quiet --fix, prettier --write

fix: replacing unmaintained postcss package
  bun.lockb
  package.json
  src/forks/rollup-plugin-postcss/src/index.js
  src/forks/rollup-plugin-postcss/src/less-loader.js
  src/forks/rollup-plugin-postcss/src/loaders.js
  src/forks/rollup-plugin-postcss/src/postcss-loader.js
  src/forks/rollup-plugin-postcss/src/sass-loader.js
  src/forks/rollup-plugin-postcss/src/stylus-loader.js
  src/forks/rollup-plugin-postcss/src/utils/humanlize-path.js
  src/forks/rollup-plugin-postcss/src/utils/load-module.js
  src/forks/rollup-plugin-postcss/src/utils/normalize-path.js
  src/helpers/bundle-lib-if-needed.ts
  src/helpers/get-ctx.ts
  src/helpers/get-lib-outputs.ts
  src/helpers/get-rollup-styler-plugin.ts
  src/models/context.ts
  test/__snapshots__/cli.spec.ts.snap
  test/cli.spec.ts
Due: eslint --quiet --fix, prettier --write

test: remove absolute snapshots
  test/__snapshots__/cli.spec.ts.snap
Due: none

Notes added by 'git notes add'
  96607511fb4f0e7677baacaee4156c940dbd564b
Due: none

chore(release): set `package.json` to 1.4.1 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

feat: support scss imports without `~`
  src/helpers/get-rollup-styler-plugin.ts
  src/utils/array-fmt.ts
  src/utils/path.ts
  src/utils/resolve.ts
  src/utils/url.ts
  test/react-library/src/index.scss
Due: eslint --quiet --fix

test: typo
  test/react-library/src/index.scss
Due: none

chore(release): set `package.json` to 1.5.0 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4928d329564bbdc40aca7ed14d16edff01238ec7
Due: none

fix: add missing package
  bun.lockb
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8b394f26984880f9a572f2c5a819e72d10d8d6e9
Due: none

chore(release): set `package.json` to 1.5.1 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

fix: add support for scss files export field
  src/helpers/get-rollup-styler-plugin.ts
  src/utils/resolve.ts
Due: eslint --quiet --fix

chore(release): set `package.json` to 1.5.2 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c4ac5c741b90946f8358a20a84cbcd29a4e64d4
Due: none

fix: better handle for css file name
  src/helpers/get-lib-outputs.ts
Due: eslint --quiet --fix

Notes added by 'git notes add'
  3a079e4cc79a0db87dc8ac69ed3b2b4544902e18
Due: none

chore(release): set `package.json` to 1.5.3 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

fix: normalize exports
  src/helpers/get-lib-outputs.ts
  test/react-library/package.json
Due: eslint --quiet --fix, prettier --write

chore(release): set `package.json` to 1.5.4 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8864af0038722b986ce1eab046d974356cfb0365
Due: none

fix: wrong css file placement
  src/helpers/get-lib-outputs.ts
Due: eslint --quiet --fix

chore(release): set `package.json` to 1.5.5 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4ad288a9e5b2b309ee444f0f604ea12913299a16
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{ts,cts,mts,tsx,js,cjs,mjs,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
