Repository AbdUlHamedMaree/lbundle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,cts,mts,tsx,js,cjs,mjs,jsx}": "eslint --quiet --fix",
  "*.{json,md}": "prettier --write"
}

ci: commitlint
  .husky/commit-msg
Due: none

ci: format yaml files
  .lintstagedrc
Due: none

ci: run bun i
  bun.lockb
Due: none

ci: install deps in tests libs
  .github/workflows/release.yml
  test/__snapshots__/cli.spec.ts.snap
  test/react-library/bun.lockb
  test/react-library/package-lock.json
  test/utils-library/bun.lockb
  test/utils-library/package-lock.json
Due: prettier --write

ci: install deps in tests libs
  .github/workflows/release.yml
  bun.lockb
  package.json
  test/utils-library/bun.lockb
  test/utils-library/package.json
Due: prettier --write

test: install sass for react lib
  test/react-library/bun.lockb
  test/react-library/package.json
Due: prettier --write

ci: install sass in root
  bun.lockb
  package.json
Due: prettier --write

chore: use semantic-release version
  .eslintignore
  bun.lockb
  jsr.json
  package.json
  release.config.js
  test/react-library/bun.lockb
Due: eslint --quiet --fix, prettier --write

ci: add changelog
  CHANGELOG.md
Due: prettier --write

fix: test ci
  src/program.ts
Due: eslint --quiet --fix

fix: commitlint max body issue
  .github/workflows/test.yml
  commitlint.config.js
Due: eslint --quiet --fix

chore(release): set `package.json` to 1.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  93a2fe46bfb6ec4102b04bedf703c4717e94cf86
Due: none

ci: allow id token
  .github/workflows/release.yml
Due: none

ci: run lint on merge
  .eslintrc.js
  .github/workflows/test.yml
  .lintstagedrc
  package.json
  test/react-library/public/index.html
Due: eslint --quiet --fix, prettier --write

ci: use bun runtime for format
  package.json
Due: prettier --write

fix: remove unwanted file
  .swcrc
Due: none

chore(release): set `package.json` to 1.1.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  9c9b3b3f471b6df1f69d182fa44bd723f77a6cfc
Due: none

feat: support amd, umd and iife formats and read exports field
  README.md
  bun.lockb
  package.json
  src/helpers/bundle-bin-if-needed.ts
  src/helpers/bundle-lib-if-needed.ts
  src/helpers/bundle-types-if-needed.ts
  src/helpers/get-bin-output.ts
  src/helpers/get-css-filename.ts
  src/helpers/get-ctx.ts
  src/helpers/get-default-options.ts
  src/helpers/get-lib-outputs.ts
  src/helpers/get-output-extensions.ts
  src/helpers/get-swc-config.ts
  src/index.ts
  src/models/context.ts
  src/models/optimal-pkg.ts
  src/utils/checks.ts
  src/utils/get-exports-filenames.ts
  src/utils/get-filename-output-format.ts
  src/utils/get-react-runtime.ts
  test/__snapshots__/cli.spec.ts.snap
  tsconfig.json
Due: eslint --quiet --fix, prettier --write

ci: add semantic-release deps to package json
  .github/workflows/release.yml
  package.json
  release.config.js
Due: eslint --quiet --fix, prettier --write

fix: remove bun.lockb file
  .gitattributes
  .github/workflows/release.yml
  bun.lockb
Due: none

build: jsr required types
  .github/workflows/release.yml
  .husky/pre-commit
  bun.lockb
  release.config.js
  src/helpers/get-css-filename.ts
Due: eslint --quiet --fix

chore: typo
  .husky/pre-commit
  bun.lockb
Due: none

build: install
  bun.lockb
Due: none

chore(release): set `package.json` to 1.2.0 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d74ad29032987669fc46c8f7d27a3ba1f15840d2
Due: none

ci: fix package json
  package.json
Due: prettier --write

feat: support bin object
  package.json
  src/helpers/get-bin-output.ts
  src/models/optimal-pkg.ts
Due: eslint --quiet --fix, prettier --write

chore(release): set `package.json` to 1.3.0 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  07099062a066427aff4c9499b73a7cf5dbb6374c
Due: none

ci: fix semantic-release/github
  release.config.js
Due: eslint --quiet --fix

docs: add chips
  .editorconfig
  .github/workflows/release.yml
  README.md
  package.json
Due: prettier --write

fix: package.json exports field order
  .eslintrc.js
  bun.lockb
  package.json
Due: eslint --quiet --fix, prettier --write

build: fix build
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cbd481338fe61732a9eb309207823e3aea18dc63
Due: none

chore(release): set `package.json` to 1.3.1 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

fix(lib): default export with cjs bundle
  .husky/commit-msg
  bun.lockb
  package.json
  rollup.config.ts
  src/helpers/bundle-bin-if-needed.ts
  src/helpers/bundle-lib-if-needed.ts
  src/helpers/get-ctx.ts
  src/helpers/get-rollup-typescript-config.ts
  src/helpers/get-swc-config.ts
  src/helpers/get-swc-env.ts
  src/models/context.ts
  test/__snapshots__/cli.spec.ts.snap
  test/cli.spec.ts
  test/react-library/src/index.d.ts
  test/react-library/tsconfig.json
  test/utils-library/tsconfig.json
Due: eslint --quiet --fix, prettier --write

ci(bun): persist bun version on ci
  .bun-version
  .github/workflows/release.yml
  .github/workflows/test.yml
  .node-version
Due: none

ci(test): source maps breaks on GH actions
  test/cli.spec.ts
Due: eslint --quiet --fix
