Repository AbdUlHamedMaree/lbundle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write

feat: support assets imports
  ASSET_TYPES.md
  README.md
  bun.lock
  bun.lockb
  index.d.ts
  modules.d.ts
  package.json
  src/constants/asset-extensions.ts
  src/constants/js-extensions.ts
  src/helpers/bundle-bin-if-needed.ts
  src/helpers/bundle-lib-if-needed.ts
  src/helpers/get-rollup-asset-plugins.ts
  test/__snapshots__/cli.spec.ts.snap
  test/cli.spec.ts
  test/react-library/src/assets/custom-font.woff2
  test/react-library/src/assets/demo.mp4
  test/react-library/src/assets/hero.jpg
  test/react-library/src/assets/icon-home.svg
  test/react-library/src/assets/icon-star.svg
  test/react-library/src/assets/icon.webp
  test/react-library/src/assets/large-banner.png
  test/react-library/src/assets/large-graphic.svg
  test/react-library/src/assets/logo.svg
  test/react-library/src/assets/manual.pdf
  test/react-library/src/assets/placeholder.png
  test/react-library/src/assets/sound.mp3
  test/react-library/src/components/asset-showcase/index.tsx
  test/react-library/src/components/index.ts
  test/react-library/src/index.d.ts
  test/react-library/tsconfig.json
  tsconfig.json
Due: eslint --quiet --fix, prettier --write

test: update snapshots
  test/__snapshots__/cli.spec.ts.snap
Due: none

fix: fix module syntax
  modules.d.ts
Due: eslint --quiet --fix

chore(release): set `package.json` to 1.6.0 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  17432fa2ed510449d6c19856663d3f2f83603d56
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{ts,cts,mts,tsx,js,cjs,mjs,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
